@import "tailwindcss";

@theme {
  --color-on-surface: #1f2937;
  --color-tertiary-fixed-dim: #d8ba78;
  --color-inverse-surface: #223047;
  --color-on-primary-fixed-variant: #18335e;
  --color-on-tertiary-container: #5f4814;
  --color-surface-container-highest: #ddd9d1;
  --color-primary-container: #2b4f80;
  --color-surface: #f4efe8;
  --color-surface-container: #eee7dc;
  --color-tertiary: #8e6b27;
  --color-error-container: #ffdad6;
  --color-on-tertiary-fixed: #493506;
  --color-surface-container-lowest: #fffdf9;
  --color-on-secondary: #ffffff;
  --color-on-primary-fixed: #f5f8ff;
  --color-error: #ba1a1a;
  --color-tertiary-fixed: #f2dfab;
  --color-on-secondary-fixed-variant: #5b6575;
  --color-outline: #7f7a72;
  --color-tertiary-container: #f2e4c1;
  --color-on-primary-container: #eef4ff;
  --color-background: #f2ede5;
  --color-surface-tint: #17315b;
  --color-on-secondary-container: #667085;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #dbe8ff;
  --color-on-tertiary-fixed-variant: #73561b;
  --color-on-background: #1f2937;
  --color-on-tertiary: #ffffff;
  --color-secondary: #5e6d82;
  --color-primary-fixed-dim: #b9cdf0;
  --color-on-secondary-fixed: #212b39;
  --color-surface-dim: #d6d0c6;
  --color-secondary-fixed-dim: #ccd6e3;
  --color-primary: #17315b;
  --color-on-primary: #ffffff;
  --color-outline-variant: #cec6b8;
  --color-inverse-primary: #b9cdf0;
  --color-secondary-container: #e0e6ef;
  --color-surface-container-low: #f8f3ec;
  --color-inverse-on-surface: #f7f5f1;
  --color-surface-container-high: #e7e1d8;
  --color-surface-variant: #e6dfd3;
  --color-on-error: #ffffff;
  --color-surface-bright: #f9f6f1;
  --color-on-surface-variant: #5a5349;
  --color-secondary-fixed: #eef3fb;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .editorial-shadow {
    box-shadow: 0 12px 32px -4px rgba(26, 28, 28, 0.06);
  }
}
